body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -2px;
  margin-bottom: -30px;
}