<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WrathRealms Home</title>
    <link href="./static/css/navbar.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand bg-light rounded justify-content-md-center">
        <div class="container-fluid">
  
          <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="navbar-brand" href="/">
                    <div class="logo-image">
                        <img src="https://raw.githubusercontent.com/github/explore/9becf9869da10e1e8f444b630e88e2609a374b06/topics/wow/wow.png" class="img-fluid" alt="WrathRealms">
                    </div>
              </a>

              </li>
              <li class="nav-item">
                <a class="nav-link" href="info">Info</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown" aria-expanded="false">Region</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./america">America</a></li>
                  <li><a class="dropdown-item" href="./europe">Europe</a></li>
                  <li><a class="dropdown-item" href="./russia">Russia</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/a6/A6R806U7HJTN1650384185893.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">About the project</h1>
            <p class="lead">This is my first fully developed project with Django, Python and Blizzard Game Data API. I aslo used HTML, CSS and Bootstrap to build a nicely looking client side with not much frontend knowledge. If you want to check my other work or contact me, feel free to check my GitHub or write me an email:</p>
            <p class="lead">edgycode@gmail.com</p>
            <p class="lead">Thank you for testing WrathRealms!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a class="nav-link" href="https://github.com/edgyo"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">GitHub</button></a>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>